spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/whatsapp_clone
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
    database: postgresql
  flyway:
    enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/whatsAppClone

  servlet:
    multipart:
      max-file-size: 50MB
application:
  file:
    uploads:
      media-output-path : ./output
